*{
  padding:0;
}

.container{
  width:1200px;
   border: 2px solid red;
  margin: 0px auto;
  text-align: center;
}

.head{
  border-top: 4px solid #105195 ;
  border-bottom: 4px solid #105195 ;
  width: 850px;
  margin:0px auto;
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  border-top-left-radius:3px;
  border-top-right-radius:4px;
}

.nav_bar{
  /* background-color: #b3b105; */
  margin-left: 23px;
}

.navbr{
  list-style-type: none;
}

.navbr li{
  float:left;
  padding: 16px 3px;
  background-color: #a8a603;
}

.navbr li a{
  color: white;
  font-size: 17px;
  text-decoration: none;
  padding: 10px;
}

.navbr li a:hover{
  color:#ffffff;
  background-color: #656403;
  border-top: 2px solid white;
  padding-bottom: 14px;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  position:relative;
  top:3px;
}

.navbr li a:active{
  color:#181f00;
  background-color: #f9f606;
  border-top: 2px solid white;
  position:relative;
  top:4px;
}

.sec_list{
  list-style-type: none;
}

.sec_list
